body {
	margin-top: 129px;
	font-family: 'Roboto', sans-serif;
}

nav.navbar {
	background-color: white;
	font-weight: bold;
	color: black;
	min-width: 450px;
}

div.navTop, div.navBottom {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

div.navTop {
	margin-top: 5px;
	height: 50px;
	font-size: 14px;
	border-bottom: 2px solid #efefef;
}

div.navBottom {
	font-size: 20px;
}

.navTopLink, a.navBottom {
	color: black;
}

.navTopButton {
	font-size: 16px;
	font-weight: bold;
	color: white;
}

img.navBottom {
	width: 80px;
	margin-right: auto;
}

a.navBottom:hover {
	color: steelblue;
	border-bottom: 3px solid orange;
}

div.berry, div.thirst, div.offers, div.think, div.fresh, div.book, div.helping {
	background-repeat: no-repeat;
	background-position: 50%;
	height: 440px;
	max-width: 1200px;
}

div.berry {
	background-image: url('images/berryburst.png');
}

div.thirst {
	background-image: url('images/thirst.png');
}

div.offers {
	background-image: url('images/app.png');
}

div.think {
	background-image: url('images/doordash.png');
}

div.fresh {
	background-image: url('images/now.png');
}

div.book {
	background-image: url('images/fresh.png');
}

div.helping {
	background-image: url('images/home.png');
}

div.berryText {
	margin-left: 25px;
	max-width: 500px;
}

div.thirstText { 
	margin-left: 25px;
	max-width: 500px;
}

div.offersText {
	margin-left: 25px;
	max-width: 500px;
	color: white;
}

div.thinkText {
	margin-left: 25px;
	max-width: 500px;
	color: white;
}

div.freshText {
	margin-left: 25px;
	max-width: 500px;
}

div.bookText {
	margin-left: 25px;
	max-width: 500px;
}

div.helpingText {
	margin-left: 25px;
	max-width: 500px;
}

h1.textR {
  margin: 50px 0;
  font-size: 20px;
  letter-spacing: .1em;
}

h2.textR { 
  font-size: 48px;
}

p.textR {
  font-size: 15px;
  letter-spacing: .15em;
  line-height: 1.4em;
}

a.textR {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  height: 45px;
  max-width: 350px;
  color: white;
  font-weight: bold;
  letter-spacing: .1em;
  background-color: dodgerblue;
  border-radius: 2px;
}

h1.textL {
  margin: 50px 0;
  font-size: 20px;
  letter-spacing: .1em;
}

h2.textL { 
  font-size: 48px;
}

p.textL {
  font-size: 15px;
  letter-spacing: .15em;
  line-height: 1.4em;
}

a.textL {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  height: 45px;
  max-width: 350px;
  color: white;
  font-weight: bold;
  letter-spacing: .1em;
  background-color: dodgerblue;
  border-radius: 2px;
}

div.featured {
	max-width: 1200px;
  	background-image: url('images/brick.png');
 	height: 260px;
 	display: flex;
 	justify-content: space-around;
 	align-items: center;
}

a.featured > img {
  border-radius: 50%;
  width: 130px;
  margin-bottom: 15px;
}

a.featured {
  min-width: 150px;
  display: block;
  text-align: center;
  color: black;
  font-size: 13px;
  font-weight: bold;
}

img.offers, img.fresh {
	height: 40px;
	margin: 25px 0;
}

img.helping {
	margin-top: 25px;
	width: 150px;
}

p.thinkSmall, p.bookSmall {
	margin-top: 5px;
}

@media (max-width: 768px) {
	div.berry, div.thirst, div.offers, div.think, div.fresh, div.book, div.helping {
		background-image: none;
	}

	div.offersText, div.thinkText {
		color: black;
	}

	div.berryText, div.offersText, div.freshText {
		float: none !important;
	}

	div.navBottom {
		justify-content: center;
	}

	a.navBottom {
		margin-top: 50px;
		font-size: 18px;
	}

	body {
		margin-top: 60px;
	}

	nav.navbar {
		min-width: auto;
	}
}

a:hover {
	text-decoration: none;
}

div.footerTop, div.footerMid {
  display: flex;
  height: 80px;
  background-color: #333333;
  padding: 0 75px;
}

div.footerTop {
  align-items: center;
  justify-content: flex-start;
}

footer {
	max-width: 1200px;
	margin: auto;
}

a.footerTop, a.footerMid {
  color: white;
  margin-right: 50px;
}

div.footerTop > a:hover, div.footerMid > a:hover {
  color: grey;
}

a.footerTop {
  font-weight: bold;
}

a.footerMid {
  font-size: 13px;
}

div.footerBottom {
  font-size: 13px;
  height: 60px;
  color: white;
  background-color: black;
  text-align: center;
  line-height: 60px;
}

div.icons {
  display: flex;
  justify-content: space-between;
  width: 130px;
  margin-left: auto;
}

a.icons {
  color: white;
}

a.icons:hover {
  color: grey;
}

div.mobileLogo {
	height: 75px;
	display: flex;
	justify-content: center;
}

img.mobileLogo {
	max-width: 80px;
	margin: auto;
}